* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-Inter;
  font-style: normal;
  font-display: swap;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: calc(1072px);
  margin: 0 auto;

  @include desktop-1100 {
    padding: 0 20px;
  }
}

.main_title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36.31px;
  text-transform: uppercase;
  color: $color-dark;

  @include tablet-993 {
    font-size: 25px;
    line-height: 27px;
  }
}
