.policy {
  padding: 108px 0 94px 0;
  background: linear-gradient(90deg, #596B7B 0.94%, #3E3C2D 55.42%, #697B89 89.1%);

  @include tablet-993 {
    padding: 40px 0;
  }

  h6 {
    font-size: 18px;
    font-weight: 300;
    line-height: 21.78px;
    color: $color-white;
    margin-bottom: 20px;
    text-transform: uppercase;

    @include tablet-993 {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 10px;
    }
  }

  li {
    font-size: 18px;
    font-weight: 300;
    line-height: 21.78px;
    color: $color-white;

    @include tablet-993 {
      font-size: 16px;
      line-height: 18px;
    }
  }
}
